<div ui-view='header'></div>
<div ng-controller="homeCtrl as home">
</br>
<div
    isteven-multi-select
    input-model="zipOptions"
    output-model="zipSelections"
    button-label="zip"
    item-label="zip"
    max-labels="3"
    max-height="250px"
    tick-property="ticked"
    on-close="generatePolygons()"
    on-reset="clearPolygons()"

>
</div>

<div id="map_canvas" >
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options" bounds="map.bounds">
        <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                 geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>
    </ui-gmap-google-map>
</div>
