<div ui-view='header'></div>
<div ng-controller="homeCtrl as home">
</br>
<form>
<input autocomplete="on" ng-model="zipEntry"/>
<button ng-click="generatePolygons()">Submit</button>
<button ng-click="clearPolygons()">Clear</button>
</form>
<div id="map_canvas" >
  <script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="searchbox.position" options="searchbox.options" ng-model="chosenPlace"></ui-gmap-search-box>
        <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                 geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>
    </ui-gmap-google-map>
</div>
